<html>
    <head>
        <link rel='stylesheet' href='css/bootstrap.css'>
        <title>To Do List</title>
    </head>
    <body>
        <div class='container'>
            <h1>{{ category.getName }}</h1>

            {% if tasks is not empty %}
                <p>Here are the tasks</p>
                <ul>
                    {% for task in tasks %}
                        <li>{{ task.getDescription }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <h4>Add a task</h4>

            <form action="/tasks" method="post">
                <input id='category_id' name='category_id' type='hidden' value='{{ category.getId() }}'>
                <div class='form-group'>
                    <label for='description'>Task Description</label>
                    <input id='description' name='description' type='text' class='form-control'>
                </div>
                <button type='submit' class='btn-primary'>Add task</button>
            </form>

            <p><a href='/'>Home</p>
            <form action='/delete_tasks' method='post'>
                <button type='submit' class='btn-primary'>Delete all tasks</button>
            </form>
        </div>
    </body>
</html>
