body {
    background-color: gray;
}
.btn-primary {
    float: left;
}

.btn-danger {
    float: right;
}

a {
    color: white;
}

p {
    clear: both;
    margin-top: 15px;
    padding-left: 4px;
}
